<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Application Edit form</h1>
    <form action="/jobs/<%=xcxc%>/comments/<%=appoo._id%>?_method=PUT" method="POST">
        <input type="text" name="fg[name]" placeholder="Edit your Name" value="<%=appoo.name%>">
        <input type="text" name="fg[location]" placeholder="Edit your Location" value="<%=appoo.location%>">
        <input type="text" name="fg[skills]" placeholder="Edit your Skills" value="<%=appoo.skills%>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>